.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem 3rem
}

img {
  display: block;
  max-width: 100%;
}

header {
  min-height: 100vh;
  background-color: rgb(41, 107, 107);
}

.wrapper {
  max-width: 960px;
  margin-inline: auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  color-scheme: dark light;
}

body {
  margin: 0;
}